<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="https://www.thymeleaf.org"
     xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
     th:fragment="login">

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <fieldset class="d-inline-flex p-2 bd-highlight">
        <div class="form-group">
            <label for="inputLoginOrEmail">Utilisateur/Email</label>
            <input aria-describedby="emailHelp"
                   class="form-control"
                   id="inputLoginOrEmail"
                   placeholder="Entrer utilisateur/email"
                   type="email"
                   name="username">
            <small class="form-text text-muted"
                   id="emailHelp"></small>
        </div>
        <div class="form-group">
            <label for="inputPassword">Mot De Passe</label>
            <input class="form-control"
                   id="inputPassword"
                   placeholder="mot de passe"
                   type="password"
                   name="password">
        </div>
        <div class="container">
            <div class="row d-flex p-2 bd-highlight">
                <ul class="list-unstyled list-text space-mts space-mbn align-content-start">
                    <li>
                        <a class="link"
                           role="link"
                           target="_blank"
                           tabindex="5"
                           rel=""
                           title="Réinitialisez votre mot de mot de passe">Mot de passe oublié ?</a></li>
                    <li>
                        <a class="link"
                           rel=""
                           role="link"
                           tabindex="5"
                           target="_blank"
                           title="Créer votre compte">Créer votre compte</a></li>
                </ul>
                <div class="col-sm-4 align-content-end" >
                    <button class="btn btn-primary"
                            type="submit">Connexion
                    </button>

                </div>
            </div>
        </div>
    </fieldset>
</form>
</div>